<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtw.oracle.mapper.ORCLNavMapper">
	
	<!-- 스키마리스트 -->
	<select id="ORCLOwnerList" resultType="com.vtw.domain.Nav">
		SELECT USERNAME OWNER
		FROM ALL_USERS
		ORDER BY USERNAME
	</select>
	
	<!-- 테이블리스트 -->
	<select id="ORCLTableNameList" resultType="com.vtw.domain.Nav">
		SELECT OWNER OWNER
			, TABLE_NAME TABLENAME
		FROM ALL_TAB_COMMENTS
		WHERE OWNER = #{owner}
	</select>
	
</mapper>